{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('comparator') }}
{% endblock %}

{% block title %}Comparateur
{% endblock %}

{% block body %}
	<h1>comparateur</h1>

	<table class="table">
		<thead class="tr">
			<tr>
				<th>Image</th>
				<th>Marque</th>
				<th>Modele</th>
				<th>Prix</th>
				<th>Alimentation</th>
				<th>Profondeur</th>
				<th>Inclinaison</th>
				<th>Vitesse</th>
				<th>Puissance</th>
				<th>Category</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for element in comparatorData|sort((a, z) => a.product.category <=> z.product.category) %}
				<tr class="line">
					<td><img src="{{ element.product.picture }}" class="img" alt="{{element.product.modele}}"></td>
					<td>
						<p>{{ element.product.brand }}</p>
					</td>
					<td>
						<p>{{ element.product.modele }}</p>
					</td>
					<td>
						<p>{{ element.product.price }}€</p>
					</td>
					<td>
						<p>{{ element.product.alimentation }}</p>
					</td>
					<td>
						<p>{{ element.product.depth }}mm</p>
					</td>
					<td>
						<p>{{ element.product.tilt }}°</p>
					</td>
					<td>
						<p>{{ element.product.speed }}tr/mn</p>
					</td>
					<td>
						<p>{{ element.product.powerfull}}W</p>
					</td>
					<td>
						<p>{{ element.product.category }}</p>
					</td>
					<td class="action">
						<div class="button">
							<a href="{{ path('cart_add', {'id': element.product.id}) }}">
								<img class="ajout" src="/build/images/panier.6cd3b47d" alt="ajouter au panier">
							</a>
							<a class="delete" href="{{ path('comparator_delete', {'id': element.product.id}) }}">X</a>
						</td>
					</td>
				</tr>

			{% else %}
				<tr>
					<td class="empty" colspan="11">aucun produit dans le comparateur</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
