{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('facture') }}
{% endblock %}

{% block title %}Product
{% endblock %}

{% block body %}
	<div class="tete">
		<a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Mon profil</a>
		<a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Mes paramètres de compte</a>
		<a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Mes commandes</a>
		<a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Mes factures</a>
		<a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Mes listes</a>
	</div>

	<h1>Facture</h1>

	<div class="container">
		<div class="div">
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{product.picture}}" class="img-fluid rounded-start" alt="{{ product.brand }}">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<p class="card-text">{{ product.modele }}</p>
							<p class="card-text">
								<small class="text-muted">Last updated 3 mins ago</small>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<table class="table">
			<div class="product">
				<tbody>
					<div class="un">
						<tr>
							<th>Unité</th>
							<td>1</td>
						</tr>
					</div>
					<div class="deux">
						<tr>
							<th>Quantité</th>
							<td>1</td>
						</tr>
					</div>
					<div class="trois">
						<tr>
							<th>Price</th>
							<td>{{ product.price|number_format(2, '.',)}}€</td>
						</tr>
					</div>

				</tbody>
			</div>

		</table>
        <a href="">back to list</a>
	</div>
{% endblock %}
