{% extends "base.html.twig" %}

{% block body %}
    {% for product in products %}
        <div class="card" style="width: 18rem;">
		<img src="{{product.picture}}" class="card-img-top" alt="{{product.model}}">
		<div class="card-body">
			<h5 class="card-title">{{product.model}}</h5>
			<p class="card-text">{{product.brand}}</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">{{product.price}}</li>
		</ul>
	</div>
    {% endfor %}
{% endblock %}
